body {
    background-image: url("images/Underwater_View.jpg");
}

body section {
    margin: auto;
    max-width: 1200px;
    width: auto;
    background-color: rgba(55, 5, 112, 0.5);
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: silver;
    text-shadow: rgba(55, 5, 112, 0.4) 0px 5px 5px,
                 rgba(55, 5, 112, 0.6) 0px -5px 5px,
                 rgba(55, 5, 112, 0.5) 5px 0px 5px,
                 rgba(55, 5, 112, 0.5) -5px 0px 5px;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: silver;
    text-shadow: rgba(55, 5, 112, 0.4) 0px 5px 5px,
                 rgba(55, 5, 112, 0.6) 0px -5px 5px,
                 rgba(55, 5, 112, 0.5) 5px 0px 5px,
                 rgba(55, 5, 112, 0.5) -5px 0px 5px;
}

body section p {
    text-align: center;
    height: auto;
    width: 1100px;
    margin-left: 50px;
    padding-bottom: 20px;
    background-color: rgba(85, 85, 85, 0.5);
    color: silver;
    text-shadow: rgba(18, 0, 39, 0.4) 0px 5px 5px,
                 rgba(18, 0, 39, 0.6) 0px -5px 5px,
                 rgba(18, 0, 39, 0.5) 5px 0px 5px,
                 rgba(18, 0, 39, 0.5) -5px 0px 5px;
}

nav ul {
    width: auto;
    height: auto;
    background-color: rgba(85, 85, 85, 0.5);
    height: 25px;
}

nav ul li{
    width: 16.66%;
    list-style: none;
    float: left;
    
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: grey;
    text-shadow: rgba(18, 0, 39, 0.4) 0px 5px 5px,
                 rgba(18, 0, 39, 0.6) 0px -5px 5px,
                 rgba(18, 0, 39, 0.5) 5px 0px 5px,
                 rgba(18, 0, 39, 0.5) -5px 0px 5px;
}

nav ul li a:hover {
    color: silver;
    text-shadow: rgba(55, 5, 112, 0.3) 0px 5px 5px,
                 rgba(55, 5, 112, 0.5) 0px -5px 5px,
                 rgba(55, 5, 112, 0.4) 5px 0px 5px,
                 rgba(55, 5, 112, 0.4) -5px 0px 5px;
}

footer {
    height: 20px;
    width: 1100px;
    color: silver;
    background-color: rgba(85, 85, 85, 0.5);
    margin-left: 50px;
    text-align: center;
}