body {
    background-image: url("images/Underwater_View.jpg");
}

body section {
    margin: auto;
    max-width: 1200px;
    width: auto;
    background-color: rgba(55, 5, 112, 0.5);
}

h1 {
    text-align: center;
    font-size: 50px;
    color: silver;
    text-shadow: rgba(55, 5, 112, 0.4) 0px 5px 5px,
                 rgba(55, 5, 112, 0.6) 0px -5px 5px,
                 rgba(55, 5, 112, 0.5) 5px 0px 5px,
                 rgba(55, 5, 112, 0.5) -5px 0px 5px;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: silver;
    text-shadow: rgba(55, 5, 112, 0.4) 0px 5px 5px,
                 rgba(55, 5, 112, 0.6) 0px -5px 5px,
                 rgba(55, 5, 112, 0.5) 5px 0px 5px,
                 rgba(55, 5, 112, 0.5) -5px 0px 5px;
}

aside {
    height: 200px;
}

nav ul {
    width: auto;
    background-color: rgba(85, 85, 85, 0.5);
    height: 25px;
}

nav ul li{
    width: auto;

    list-style: none;
    margin-left: 29%;
    float: left;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: grey;
}

nav ul li a:hover {
    color: silver;
    text-shadow: rgba(55, 5, 112, 0.3) 0px 5px 5px,
                 rgba(55, 5, 112, 0.5) 0px -5px 5px,
                 rgba(55, 5, 112, 0.4) 5px 0px 5px,
                 rgba(55, 5, 112, 0.4) -5px 0px 5px;
}